
ul {
  list-style: none;
  margin-block-end: 0;
}

#screenMaker, #screenPizza {
  border: 1px red solid;
  background-color: rgb(237, 90, 107);
  width: 300px;
  height: 470px;
}
h1{
  text-align: center;
  margin-block-end: 0;
}

h2, label {
  color: white;
}

footer {
  align-items: right;
  margin-block-start: 12px;
}

footer button {
  font-size: xx-large;
  
  display: block;
  /* align to right */
  margin-left: auto;
  margin-right: 0;
}

label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

section ul {
  list-style: none;
  padding-left: 5px;
  padding-right: 15px;
}

#screenPizza footer button {  
  /* align to left */
  margin-left: 0;
  margin-right: auto;
}

#imagens {
  width: 300px;
  height: 410px;
  position: relative;
}

#imagens img {
  width: 200px;
  height: 200px;
  margin: auto;
  position: absolute;
  top: 120px;
  left: 55px;
}

#imagens #imageBase {
  width: 210px;
  height: 210px;

  top: 110px;
  left: 50px;
}
.img-icon {
  width: 40px;
}

.hidden {
  display: none;
}




